{% extends "bootstrap/base.html" %}

{% block title %}TextX{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">TextX</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">

                {% if current_user.is_anonymous %}
                <div class="form-group">
                        <input type="text" placeholder="email@domain.com" class="form-control">
                </div>
                 <div class="form-group">
                        <input type="password" placeholder="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Log in</button>

                {% else %}
                <div class="form-group">{{ current_user.username }}</div>
                <button type="button" class="btn btn-info">Sign out</button>
                {% endif %}
               
                </form>
                
                
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class=flashes>
      {% for category, message in messages %}

        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>

      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}


    {% block page_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
