{% extends "base.html" %}

{% block title %}TextX{% endblock %}

{% block page_content %}
<div class="jumbotron">
  <div class="container">
    <h1>Welcome to TextX.</h1>
    <p>Looking for textbooks? Have expensive textbooks collecting dust at home? Trade with TextX! Unlike other websites, we focus on person-to-person transactions, meaning you get your books when you want them, in the condition you want them. No packing, waiting, shipping, no return dates. Just great deals from students like yourself.</p>
    <p><a class="btn btn-primary btn-lg" href="/register" role="button">Get Started &raquo;</a></p>
  </div>
</div>

<p>Today is {{ moment(current_time).format('dddd [the] Do') }}.</p>
<div class="progress">
  <div class="progress-bar progress-bar-success" style="width: 33%;"></div>
</div>
<p class="text-center">Alpha completeness</p>

{% endblock %}
