{% extends "base.html" %}
{% block page_content %}

<h2>{{ user.username }}<small class="text-muted"> ~ Last online {{ moment(user.last_online).fromNow() }}. </small></h2>
<div class="jumbotron">
  <div class="container">
        <p>Using TextX since {{ moment(user.user_since).format('MMM Do YYYY') }}.</p>
        <p>
                {% if user.ratings_count != 0 %}
                User rating: {{ user.rating }}/5
                {% else %}
                {{ user.username }} has not been rated yet.
                {% endif %}
        </p>
  </div>
</div>

<h2>{{ user.username }}'s Books</h2>
  <div class="container">
          {% if books %}
          <div class="list-group">
                  {% for book in books %}
                  <a type="button" class="list-group-item" href='/b/{{ book.id }}'>{{ book.title }}</a>
                  {% endfor %}

          {% else %}
          <h4> No books yet :( </h4>
          {% endif %}

  </div>




{% endblock %}
